section.about#about
    .content
        h2 О Макао
        article
            p Макао — это поистине удивительный регион, где в одном месте встречаются азиатская и европейская культуры.  Дело в том, более 400 лет Макао был Португальской колонией, а в 1999 году территория была возвращена Китаю.  Всё это естественным образом отразилось на культуре, искусстве, традициях, архитектуре и сделало данное место уникальным.  Здесь шумные азиатские кварталы соседствуют со старыми европейскими улочками, а рядом с христианскими храмами возвышаются восточные пагоды.  И, несмотря на то, что вот уже более 15 лет Макао является территорией Китая, местные жители тщательно оберегают своё европейское наследие и историю,  тем самым сохраняя исключительность и неповторимую атмосферу. Рождество и Китайский Новый год его фейерверками, легендарный Гран-При Макао и Международный Музыкальный фестиваль,
            
            p  шумные рынки и маньерист-барочные католические храмы на фоне китайских вывесок... Добавить к этому огромное число отелей, ночных клубов, модных ресторанов, галерей, праздников и шоу, а также высокий уровень жизни  и культуры, интереснейшую кухню, захватывающие виды, небоскребы  и совершенно европейские улочки  — и получится Макао.
        .button-block
            a.button Подробнее
            
            
        .about__slider.gallery
            .multiple-items
        
                a(href="img/1.jpg")
                    img(src="img/1.jpg")
                   
                a(href="img/2.jpg")
                    img(src="img/2.jpg")
                   
                a(href="img/3.jpg")
                    img(src="img/3.jpg")
                   
                a(href="img/4.jpg")
                    img(src="img/4.jpg")
                   
                a(href="img/5.jpg")
                    img(src="img/5.jpg")
                                       
                a(href="img/6.jpg")
                    img(src="img/6.jpg")
                                       
                a(href="img/7.jpg")
                    img(src="img/7.jpg")
                    
.about-elips
    .content
        .about-elips__floating
        
            .about-elips__floating_item
                .middle
                    .about-elips__floating_el(style="background:url(img/el-1.png)")
                    .about-elips__floating_desc Для граждан РФ <br>виза не требуется
                           
            .about-elips__floating_item
                .middle
                    .about-elips__floating_el(style="background:url(img/el-2.png)")
                    .about-elips__floating_desc 23 С° средняя <br> температура воздуха
                           
            .about-elips__floating_item
                .middle
                    .about-elips__floating_el.big(style="background:url(img/el-3.png)")
                    .about-elips__floating_desc наследие <br> ЮНЕСКО
                   

           