section.app
    .content
        .app__art
            h3 Мобильное приложение для туристов
            .desc Выходи на прогулку по Макао!
            article
                
                h4 Step Out, Macao
                
                p Мобильное приложение, выпущенное Управлением по Туризму Правительства Макао для широкого использования туристами, посещающими полуостров.
                
                p Приложение представляет восемь новых пешеходных маршрутов, разработанных Управлением по туризму в 2014 году под общей темой “Выходи на прогулку – окунись в городскую жизнь” и призванных пробудить более широкий интерес среди гостей города к менее известным, но характерным кварталам Макао.
            .button-block
            
                a.store(href="http://ru.macaotourism.gov.mo/corner/phone_apps.php" target="_blank")
                    img(src="img/aple.png")
                                
                a.store(href="http://ru.macaotourism.gov.mo/corner/phone_apps.php" target="_blank")
                    img(src="img/andr.png")
                    
                a.store
                
        .app__img
            img(src="img/mob.png")