section.center-slide#center
    .center
    
  
        div.sl
            img(src="img/slide.jpg")
            .center-slide__txt
                a.ico
                h3 Из Гонконга
                .button-block
                    a.button на пароме
                    a.button на вертолете
                        
        div.sl
            img(src="img/slide4.jpg")
            .center-slide__txt
                a.ico
                h3 Из Гуанчжоу
                .button-block
                    a.button на пароме
                        
        div.sl
            img(src="img/slide3.jpg")
            .center-slide__txt
                a.ico
                h3 Из Шэньчжэеня
                .button-block
                    a.button на пароме
                    a.button на вертолете
                        
        div.sl
            img(src="img/slide5.jpg")
            .center-slide__txt
                a.ico
                h3 Из Чжухая
                .button-block
                    a.button на автобусе
                        
        div.sl
            img(src="img/slide2.jpg")
            .center-slide__txt
                a.ico
                h3 Из Хайнаня
                .button-block
                    a.button на пароме
