footer#footer
    .phbg
    .phimg
    .f__t
    
    .content
        h3 Придумай свой способ <br> испытать Макао
        .desc вдали от суетливого города
        .button-block
            a.button выбрать тур
            
        
        
        .f__nav-block
            ul
                li
                    .middle
                        a(href="#") Макао       
                li
                    .middle
                        a(href="#") Туры в Макао
                        
                li.logo-b
                    a.f__logo
                                  
                        
                li
                    .middle
                        a(href="#") Чем заняться 

                li
                    .middle
                        a(href="#") Контакты
                        
                
        .f__f
        
            .f__f__item
                .middle
            
                    a.ico.face(href="#" target="_blanc")
                        
                    a.ico.tv(href="#" target="_blanc")
                        
                    a.ico.inst(href="#" target="_blanc")
                    
            .f__f__item
                .middle
            
                    p © 2016 Авторское право: Управление по туризму правительства Макао
            
                                    
            .f__f__item
                .middle
            
                     a.links(href="#") +7 (495) 981-51-88
                     a.links(href="#")  info@macao-tourism.ru
            
                
        
    













script(src="js/jquery-1.7.2.min.js")
script(src="js/slick.js")
script(src="js/main.js")
script(src="js/paralax.js")
script(src="js/jquery.smoothscroll.js")
script(type="text/javascript" src="js/simple-lightbox.js")
script(type="text/javascript" src="js/gallery-box.js")
