header
    .content
        .header__floating
            a.header__logo
            .header__nav-block
                nav
                    ul
                        li
                            .middle
                                a.sc(href="#about") Макао
                        li
                            .middle
                                a.sc(href="#tur") Как добраться
                        li
                            .middle
                                a.sc(href="#news") Новости
                        li
                            .middle
                                a.sc(href="#footer") Контакты
                                        
                        li
                            .middle
                                a.sc.search
                                    i
                                                               
                        li
                            .middle
                                a.sc.button(href="#tur") Туры в макао