
// основной цвет
colfirm = #33bd36
    

// второй цвет
colfirm2 = #2ea0f0
    

// третий цвет
colfirm3 = #284184
    

// цвет фона
colbg = #fff
    

// цвет фона (альтернативный)
colbg2 = #f9f9f9
    

// основной цвет текста
coltxt = #787676
    

// альтернативный цвет текста (description)
coltxt2 = #333232
    

// альтернативный цвет текста (description и прочее)
coltxt3 = #bebebe
  
    
// Цвет границ
colB = #dbdbdb
   
    
// Фон footer
colF = #bebebe
   
    
// Фон header
colH = #bebebe
 

// Шрифт (основной)
fonttxt = 'Conv_FuturaPTBook'
 

// Шрифт (Жирный)
fontB = 'Conv_BerlingskeSerifSt-Regular'
fontBr = 'Conv_Baskerville 10 Pro'
fontB2 = 'Conv_FuturaPTHeavy'
 

// Шрифт (Light)
fontL = 'Conv_BerlingskeSerifSt-Lt'
 

// Шрифт (Medium)
fontM = 'Conv_FuturaPTMedium'


// Шрифт (Medium)
fontSize = 20px

    
   
