.about
    bgP(top,center,cover)
    background url(../img/about-bg.png)
    padding-top 140px
    position relative
    z-index: 9999;
    overflow hidden
    top -70px
    
    .content
        height 100%
    
    article
        float(100%)
        position relative
        margin-top 40px
        
        p
            float-w(100%)
            padding-right 60px
            font-size 20px
            color coltxt
            line-height 30px
            margin 0
        
    h2
        color coltxt2
        
        
    .about__slider
        float left
        width 100%
        right 0%
        width 100%
        margin-top 76px
        
        
        a
            display inline-block
            
    .slick-slider
        width 100%
        float right
        
    .slick-next
        position absolute
        width 58px
        height 58px
        border-radius 50%
        top 50%
        margin-top -29px
        right  190px
        margin-left -29px
        overflow hidden
        
        .phbg
            abs(block,100%,100%,0px,0px)
            background #000
            opacity .65
            border-radius 50%
            m-speed(0.3s)

            
        span 
            position absolute
            width 14px
            height 2px
            pov(45deg)
            top 23px
            left 23px
            background #fff
                
        span::before 
            content ''
            position absolute
            width 100%
            height 100%
            top 7px
            left 7px
            pov(-90deg)
            background #fff
                    
    .slick-prev
        position absolute
        width 58px
        height 58px
        border-radius 50%
        top 50%
        margin-top -29px
        left  190px
        margin-left -29px
        overflow hidden
        pov(180deg)
        z-index: 9999;
        
        .phbg
            abs(block,100%,100%,0px,0px)
            background #000
            opacity .65
            border-radius 50%
            m-speed(0.3s)
            

            
        span 
            position absolute
            width 14px
            height 2px
            pov(45deg)
            top 23px
            left 23px
            background #fff
                
        span::before 
            content ''
            position absolute
            width 100%
            height 100%
            top 7px
            left 7px
            pov(-90deg)
            background #fff
            
    .slick-next:hover
        .phbg 
            opacity 1
            background colfirm
            
    .button-block
            margin-top: 22px;

            
.about-elips
    .about-elips__floating
        float-w(100%)
        
        .about-elips__floating_item
            float-w(33.333333%)
            height 315px;
            display inline-table
            
        .about-elips__floating_el
            size(110px,110px)
            background colfirm
            overflow hidden
            float left
            bgP(center,center,contain)
            
        .about-elips__floating_el.big
            size(140px,110px)
            
        .about-elips__floating_desc
            margin-left 14px
            float left
            color #000
            font-family fontM
            font-size 18px
            margin-top 33px;
            display inline-block
        
           
    

    

            
@media (max-width: 1600px) and (min-width: 1400px)
    
    .about
             

        .slick-next
            right 130px
    
           
        .slick-prev
            left 130px
    
            
            
            
            
            
            
@media (max-width: 1399px) and (min-width: 1024px)
    
    .about
             

        .slick-next
            right 100px
    
           
        .slick-prev
            left 100px
    
            
                
            
@media (max-width: 1023px) and (min-width: 768px)
    
    .about
     
        article
            padding 0
                
            p
                width 100%
                margin 20px 0
             
        
        .about__slider
            right: 0;
            width: 100%;
            bottom: 0px;
            position: relative;
            top 35px
            
        .slick-next 
            width: 58px;
            height: 58px;
            top: 50%;
            margin-top: -29px;
            right: 10%;
            
        .slick-prev 
            width: 58px;
            height: 58px;
            top: 50%;
            margin-top: -29px;
            left: 10%;

        
    
            
    .about-elips
        .about-elips__floating
            float-w(100%)
            margin-bottom 35px
        
            .about-elips__floating_item
                float-w(50%)
                height 100px;
                margin 25px 0
        
            
                
            
@media (max-width: 767px)

    .about
        height: auto;
        margin-bottom 100px
        padding-top 65px
        top 0px
            
        .sl-wrapper
            .sl-navigation
                button 
                    position: fixed;
                    bottom: 50%;
    
        
        .slick-next
            display none !important     
        
        .slick-slide
            margin 0 !important
            
            img
                display: block;
                margin-top: 20px;
                margin-left: -5px;
                border-top solid 20px #fff 
        
        .slick-track 
            position relative
            top 0
            left 0;
            display block
            width 100% !important
            transform translate3d(0px, 0px, 0px) !important

        
     
        article
            padding 0
                
            p
                width 100%
                margin 20px 0
                padding-right  0px
             
        
        .about__slider
            right: 0;
            width: 100%;
            bottom: 0px;
            position: relative;
            top 35px
            
            a
                width: 100% !important;
                float: left;
            
        .slick-next 
            width: 58px;
            height: 58px;
            top: 50%;
            margin-top: -14px;
            right: 10%;
            margin-left: -29px;
            


        
    
            
    .about-elips
        .about-elips__floating
            float-w(100%)
            margin-bottom 35px
        
            .about-elips__floating_item
                float-w(100%)
                height 100px;
                margin 25px 0 65px
                
                .about-elips__floating_el
                    width 100%
                    
                .about-elips__floating_desc
                    width 100%
                    text-align center
                    margin 25px 0
                    
                    br
                        display none
                
                
        
            
        
            
        