.app
    margin-bottom 138px
    
    
    .store
        float left
        display inline-block
        
        img
            width auto
            height auto
            
    .store:first-child
        margin-right 24px
            
        
            
    
    
    .app__art
        float left
        width 715px
        padding-left 80px
        
        h3
            margin-bottom 20px
            color coltxt2
            font-size 52px
            
        .desc
            font-size 24px
            font-family fontB2
            float-w(100%)
            
            
        article
            padding-right 45px
            padding-top 65px
            
            h4
                font-size 24px
                font-family fontB2
                color coltxt2
                
            p
                margin 20px 0
                
    .app__img
        float right
        width 465px
        padding-right 80px
        position relative
        
        img
            position absolute
            width 110%
            height auto
            display block
            top 0px
            left -45px
            
            
        
@media (max-width: 1279px) and (min-width: 1024px)
    
    .app 
        .app__art 
            float: left;
            width: 50%;
            padding-left: 20px;
            
            h3
                font-size 38px
                
            article
                padding-left 0

                        
        
@media (max-width: 1023px) and (min-width: 768px)
    
    .app 
        .app__art 
            float: left;
            width: 100%;
            padding-left: 20px;
            
            h3
                font-size 32px
                
            article
                padding-left 0
                
        .app__img
            display none
    
            
            
            
@media (max-width: 767px)
    
    .app 
        margin-bottom: 50px;
        .app__art 
            float: left;
            width: 100%;
            padding-left: 0px;
            
            h3
                font-size 20px
                
            .desc
                font-size 20px
                
            article
                padding-top 35px
                padding-left 0
                padding-right 0
                
            .button-block
                margin-top -20px
                
        .app__img
            display none

            