footer
    padding 120px 0 140px
    position relative
    
    
    .phbg
        abs(block,100%,100%,0,0)
        background #242424
        z-index 98
        
        
    .phimg
        abs(block,100%,100%,0,0)
        bgP(top,center,cover)
        background url(../img/f-st.jpg)
        opacity .1
        z-index 99
    
    
    .f__t
        abs(block,100%,93px,0,0)
        
        bgP(top,center,cover)
        background url(../img/t-f.png)
        z-index 100
        
    .content
        z-index 200
        
    h3
        color #fff
        text-align center
        
    .desc
        float-w(100%)
        margin-top 15px
        color #fff
        font-size 24px
        text-align center
        
    .button-block
        text-align center
        
    .button 
        width 260px
        text-align center
        
        
    .f__nav-block
        float-w(100%)
        margin-top 74px
        margin-bottom 50px
        
        ul
            float-w(100%)
            height 113px
            text-align center
            
            li
                height 100%
                display inline-table
                
                a
                    font-size 18px
                    margin 0 14px
                    color #fff
                    m-speed(0.3s)
                    
                a:hover
                    color colfirm
                    
                .f__logo
                    
                    display block
                    float-w(114px)
                    height 112px
                    bgP(center,center,contain)
                    background url(../img/logo.svg)
                    margin 0px 58px -45px
                    
    .f__f
        float-w(100%)
        height 105px
        border-top solid 1px #6a6c6b
        display block
        
        .f__f__item
            float-w(33.333333%)
            height 100%
            display inline-table
            
            
            
            .ico 
                float left
                display inline-block
                bgP(center,center,contain)
                width 30px
                height 30px
                margin-right 17px
                
            .ico:hover
                opacity .7
                
                
            .face
                background url(../img/face.png)
            .tv
                background url(../img/tv.png)
            .inst
                background url(../img/inst.png)
            .vk
                background url(../img/vk.png)
                
                
            p
                text-align center
                color #9b9b9b
                font-size 13px
                
                
            .links
                float right
                color #fff
                display block
                font-size 18px
                width auto
                width 100%
                text-align right
                margin 5px 0
                m-speed(0.3s)
                
            .links:hover
                opacity 1
                color colfirm
                
                
                
            
            
@media (max-width: 767px) 

    footer
        width auto
        

        
        .f__f
            height auto
            
            .f__f__item
                width 100%
                height 90px
                text-align center
                    
                .ico
                    float none
                    
                .links
                    text-align center
        
        .f__nav-block 
            ul
                height auto
                
                li 
                    .f__logo
                        margin: 28px 58px 28px;
                        
        .logo-b
            width 100% !important
            margin 20px 0
            .f__logo
                position relative !important
                display inline-block !important
                float none !important
                margin 0 auto !important
            