.info
    padding 76px 0 0
    
    article
        padding-left 200px
        padding-right 250px
        position relative
        display none
        

        
        
        h4 
            font-size 24px
            float-w(100%)
            color #000
            font-family fontB2
            margin-bottom 20px
            position relative
            
        
        
        p
            font-size 20px
            margin 20px 0
            
        h4::before
            content ''
            position absolute
            display block
            width 84px
            height 84px
            bgP(center,center,contain)
            left -123px
            top 5px
                          
        .parom::before
            background url(../img/inf-ico.png)
                       
        .vert::before
            background url(../img/inf-ico2.png)
                                 
        .bus::before
            background url(../img/bus.png)
                        
        .button-block
            margin-top 20px
            
                        
            
    #art1
        display block
            
    .info__dvm
        float-w(100%)
        margin-top 40px
        
        img
            width 100%
            height auto
            display block
            
            
            
            
                
            
@media (max-width: 1023px) and (min-width: 768px)
    
    .info
        padding 25px 0
        
    
        article
            padding-left 25px
            padding-right 25px

        
        
            h4 
                font-size 24px
            
            
            h4::before
                position absolute
                display none
            
            h4::after
                position absolute
                display none

            
        .info__dvm
            float-w(100%)
            margin-top 40px
        
            img
                width 100%
                height auto
                display block

                
            
@media (max-width: 767px)
    
    .info
        padding 25px 0
    
        article
            padding-left 0px !important
            padding-right 0px !important
            
            p
                font-size 20px 

        
        
            h4 
                font-size 24px
            
            
            h4::before
                position absolute
                display none
            
            h4::after
                position absolute
                display none

            
        .info__dvm
            float-w(100%)
            margin-top 40px
        
            img
                width 100%
                height auto
                display block
            

