.tomakao 
    padding 100px 0
    
    .tomakao__floating
        float-w(100%)
        
        .tomakao__floating_item
            float-w(620px)
            
            
            article
                padding-right 55px
                p
                    float-w(100%)
                
                h3
                    color coltxt2
                    margin-bottom 0px
                    
        .tomakao__floating_item-t
            float-w(405px)
            padding-left 45px
            border-left solid 1px colB
            padding-bottom 20px
            padding-top 20px
            
            .tomakao__floating_item-l
                float-w(100%)
                padding-bottom 72px

                .img
                    display inline-block
                    float left
                    margin-right 12px
                    display block
                        
                .tomakao__floating_item_txt
                    float-w(248px)
                    height 98px
                       
                    .tomakao__floating_item_titl
                        font-size 22px
                        font-family fontM
                        color #000
                        display inline-block
                        float left
                        margin-top 5px
                        line-height: 1.0;
                           
                    .time
                        padding 8px 20px
                        background #f5f1dc
                        color #665e32
                        font-size 13px
                        margin-top 10px
                        display inline-block
                        border-radius 45px
                        
            .tomakao__floating_item-l:last-child
                padding-bottom 0px
                
                
                
                
            
@media (max-width: 1279px) and (min-width: 1024px)
    
    .tomakao 
        .tomakao__floating 
            .tomakao__floating_item 
                float: left;
                width: 540px;
                
                article
                    h3 
                        margin-bottom: 20px;


                
            
@media (max-width: 1023px) and (min-width: 768px)
    
    .tomakao 
        .tomakao__floating 
            .tomakao__floating_item 
                float: left;
                width: 100%;
                
                article
                    h3 
                        margin-bottom: 20px;
                        
                        
            .tomakao__floating_item-t 
                width: 100%;
                padding-left: 25px;
                border-left: solid 0px;
                padding-bottom: 20px;


                
            
@media (max-width: 767px)
    
    .tomakao 
        padding 50px 0
        .tomakao__floating 
            .tomakao__floating_item 
                float: left;
                width: 100%;
                margin-bottom 30px
                
                article
                    padding 0px
                    h3 
                        margin-bottom: 20px;
                        
                        
            .tomakao__floating_item-t 
                width: 100%;
                padding-left: 25px;
                border-left: solid 0px;
                padding-bottom: 20px;




            
                            
                       
                       
                       
                    