.tur
    padding 100px 0
    
    .button-block
        text-align center
    
    .phbig
        background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.56078) 0%, rgba(2,2,2,0.28) 37%, rgba(3,3,3,0.24) 47%, rgba(6,6,6,0) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.56078) 0%, rgba(2,2,2,0.28) 37%, rgba(3,3,3,0.24) 47%, rgba(6,6,6,0) 100%);
        background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.56078) 0%, rgba(2,2,2,0.28) 37%, rgba(3,3,3,0.24) 47%, rgba(6,6,6,0) 100%);
        abs(block,100%,100%,0,0)
        
        
    .phmin
        background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.56078) 0%, rgba(2,2,2,0.28) 37%, rgba(3,3,3,0.24) 47%, rgba(6,6,6,0) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.56078) 0%, rgba(2,2,2,0.28) 37%, rgba(3,3,3,0.24) 47%, rgba(6,6,6,0) 100%);
        background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.56078) 0%, rgba(2,2,2,0.28) 37%, rgba(3,3,3,0.24) 47%, rgba(6,6,6,0) 100%);
        abs(block,100%,100%,0,0)

        


  

    
    h3
        margin-bottom 10px
        text-align center
        color coltxt2
    
        
    .desc
        font-size 24px
        text-align center
        
    
    .tur__operators
        float-w(100%)
        margin-top 65px
        
        .tur__operators_item
            float-w(25%)
            display inline-block
            outline none
            
            img
                width auto
                height auto
                display block
                float left
                
        .tur__operators_item:last-child
            img
                float right
                
    .tur__types
        float left
        margin-top 73px
        width 100%
        
        overflow hidden
        
        
        .tur__types_item-block
            border solid 5px #fff
            float-w(50%)
            height 510px
            bgP(center,center,cover)
            position relative
            
                    
            .fadeb
                abs(block,100%,100%,0,0)
                background #000
                opacity 0
                m-speed(0.6s)
        

            
            
            .tur__types_item-block__info
                position absolute
                display block
                bottom 35px
                left 35px
                z-index 9999
                padding-right 20px
                
                
            .tur__types_item-block__info_day
                font-size 13px
                padding 10px 22px
                background  colfirm
                color #fff
                font-family fontB2
                margin-bottom 20px
                border-radius 45px
                display inline-block
                text-transform uppercase
                    
            .tur__types_item-block__info_txt
                float-w(100%)
     
                                        
                .tur__types_item-block__info_t
                    font-family fontB2
                    font-size 24px
                    color#fff
                    display inline-block
                    float left
                                                                
                .tur__types_item-block__info_c
                    font-size 20px
                    color#fff
                    display inline-block
                    float right
                    position relative
                    top 2px
                        
            .tur__types_item-block_min
                float-w(50%)
                height 50%
                border solid 5px #fff
                bgP(center,center,cover)
                position relative
                
                
                .fadem
                    abs(block,100%,100%,0,0)
                    background #000
                    opacity 0
                    m-speed(0.6s)
                
                ////
                
                
                
                            
                .tur__types_item-block__info
                    bottom 14px
                    left 20px
                
                
                .tur__types_item-block__info_day
                    font-size 11px
                    padding 8px 18px
                    margin-bottom 10px
                    
                    
                .tur__types_item-block__info_txt
                    float-w(100%)
                    padding-right 20px
     
                                        
                    .tur__types_item-block__info_t
                        font-family fontB2
                        font-size 16px
                                                                
                    .tur__types_item-block__info_c
                        font-size 16px
                        top -1px
                       
                        
                        
                    
                        
        .tur__types_item-block:last-child
            border solid 0px
            
        .tur__types_item-block:hover
            .fadeb
                opacity .75
        
                        
        .tur__types_item-block_min:hover
            .fadem
                opacity .75
                
                
    
                
@media (max-width: 1279px) and (min-width: 1024px)
    
    .tur
        .tur__operators
            .tur__operators_item
                img
                    width 90%
        
            
    
                
@media (max-width: 1023px) and (min-width: 768px)
    
    .tur
        .tur__operators
            .tur__operators_item
                width 50%
                margin-bottom 20px
                img
                    width auto
                    display block
                    position relative
                    margin 0 auto
                    float none !important
        
                    
        .tur__types 
            .tur__types_item-block
                border: solid 5px #fff;
                float: left;
                width: 100%;
                height: 510px;

            

                
                
@media (max-width: 767px)
    
    .tur
        .tur__operators
            .tur__operators_item
                width 50%
                margin-bottom 20px
                img
                    width auto
                    display block
                    position relative
                    margin 0 auto
                    float none !important
        
                    
        .tur__types 
            .tur__types_item-block
                border: solid 5px #fff;
                float: left;
                width: 100%;
                height: 510px;

                            
                
@media (max-width: 767px)
    
    .tur
        .tur__operators
                
            .tur__operators_item
                position relative
                float left
                margin-bottom 20px
                img
                    width 100%
                    display block
                    position relative
                    float left
                    float none !important
                    
            .tur__operators_item:last-child
                    
                img
                    left -20px
                    
                    
            .tur__operators_item:first-child
                
                img
                    left 20px
        
                    
        .tur__types 
            .tur__types_item-block
                border: solid 5px #fff;
                float: left;
                width: 100%;
                min-height: 260px;
                height auto
                
                                    
                .tur__types_item-block__info
                    bottom 14px
                    left 20px
                
                
                    .tur__types_item-block__info_day
                        font-size 11px
                        padding 8px 18px
                        margin-bottom 10px
                        text-transform uppercase
                    
                    .tur__types_item-block__info_txt
                        float-w(100%)
                        padding-right 20px
     
                                        
                        .tur__types_item-block__info_t
                            font-family fontB2
                            font-size 16px
                                                                
                        .tur__types_item-block__info_c
                            font-size 16px
                            top -1px
                            float left
                       
                
                
                .tur__types_item-block_min
                    width 100%
                    height: 260px;
                    
                    .tur__types_item-block__info
                        .tur__types_item-block__info_txt
                            .tur__types_item-block__info_c
                                float right
                    

                        

            

            
                        
                    
                    
                    
                    
                
                
                
            
            
            
            
            
            
        
            
            
            
        
        
                
    
        
        
        
    