.window
    height 550px
    position relative
    
    .window__w-top
        abs(block,100%,74px,0,0)
        bgP(top,center,cover)
        background url(../img/w-top.png)
        z-index: 99;
        
    .window__w-bot
        abs(block,100%,74px,auto,0)
        bgP(top,center,cover)
        background url(../img/w-bot.png)
        bottom 0px
        z-index: 99;
        
    .window__back-img
        abs(block,100%,100%,0,0)
        bgP(center,center,cover)
        background url(../img/bg-w.jpg) 
        
        
        
    .window__table
        abs(table,100%,550px,0,0)
        
        h3
            float left
            width 100%
            margin-bottom: 30px
            font-size 74px
            color #fff
            font-family fontBr
            text-align center
            
        .desc
            font-size 24px
            color #fff
            text-align center
            
        .button-block
            text-align center;
            
            input
                padding: 18px 25px;
                font-size 14px
                margin-right 10px
                border-radius 45px
                font-family: 'Conv_FuturaPTHeavy';
                width 320px
                
            .button
                padding 18px 25px
                width auto
            
            
            
        

@media (max-width: 1279px) and (min-width: 1024px)
    
    .window
        
        .window__table
            abs(table,100%,100%,0,0)
        
            h3
                margin-bottom: 20px
                font-size 54px
                color #fff
            
            

@media (max-width: 1023px) and (min-width: 768px)
    
    .window
        
        .window__table
            abs(table,100%,100%,0,0)
        
            h3
                margin-bottom: 20px
                font-size 38px
                color #fff
            
    
@media (max-width: 767px)
    
    .window
        
        .window__table
            abs(table,100%,100%,0,0)
        
            h3
                margin-bottom: 20px
                font-size 38px
                color #fff
                
            .button-block
                
                .button 
                    margin-top 10px
            
    
    
        
        
    